<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- modify by 45 at 2012-9-19 16:50 -->
<configuration>
    <typeAliases>
		<typeAlias alias="BasicUrl" type="cn.kejso.StoredEntity.BasicUrl" />
		<typeAlias alias="ClassifyUrl" type="cn.kejso.StoredEntity.ClassifyUrl" />
		<typeAlias alias="BasicListItem" type="cn.kejso.StoredEntity.BasicListItem" />
	</typeAliases>
	<environments default="development">
         <environment id="development">
              <transactionManager type="JDBC" />
              <!-- 配置数据库连接信息 -->
              <dataSource type="POOLED">
                 <property name="driver" value="com.mysql.jdbc.Driver" />
                 <property name="url" value="jdbc:mysql://localhost:3306/kejsospider?characterEncoding=utf8" />  
                 <property name="username" value="root" />
                 <property name="password" value="1993" />
             </dataSource>
         </environment>
     </environments>
	<mappers>
		<mapper resource="cn/kejso/SqlMapper/BasicUrlMapper.xml" />
		<mapper resource="cn/kejso/SqlMapper/ClassifyUrlMapper.xml" />
		<mapper resource="cn/kejso/SqlMapper/BasicListItemMapper.xml" />
	</mappers>
</configuration>